<div class="container text-center">
  <div class="row jusify-content-center">
    <div class="card text-sucess mt-5">
        <blockquote class="blockquote">
            <p class="mb-0 p-3" style="width: 30rem;"><i class="fa fa-quote-left fa-lg"></i> {{quote.quote}}
            </p>
        </blockquote>
      <a
        target="blank"
        [href]="'https://twitter.com/intent/tweet?text=' + quote.quote"
        button
        class="btn btn-outline-sucess"
        ><i class="fa fa-twitter"></i
      ></a>

      <button class="btn btn-outline-success" (click)="getQuote()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
